<div class="content-container">
	<div class="header">
		<h1>Food recipes</h1>
		<div>
			<button class="sign-out" (click)="onSignOut()">Sign out</button>
			<button class="add-recipe" [routerLink]="'../add-recipe'">Add recipe</button>
		</div>
	</div>
	<h3>Categories</h3>
	<div class="categories-container">
		<div *ngFor="let category of categories" class="category-element" [routerLink]="['../recipes', category.id]">
			<img src="{{category.image}}">
			<span>{{category.name}}</span>
		</div>
	</div>
</div>