<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ParentGridName" value="Users" />
    <add key="ChildGridName" value="Labels" />
    <add key="ParentTable" value="Users" />
    <add key="ChildTable" value="Logs" />
    <add key="PkChildParent" value="FK__Logs__UserId__3F466844" />
    <add key="ParentId" value="Id" />
    <add key="ChildParentId" value="UserId" />
    <!--<add key="ParentGridName" value="Categories" />
    <add key="ChildGridName" value="Products" />
    <add key="ParentTable" value="Categories" />
    <add key="ChildTable" value="Products" />
    <add key="PkChildParent" value="FK__Products__Catego__2F10007B" />
    <add key="ParentId" value="Id" />
    <add key="ChildParentId" value="CategoryId" />-->
  </appSettings>
</configuration>